@import "tailwindcss";

@theme {
  --color-valentine-pink: #ff69b4;
  --color-valentine-red: #dc143c;
  --color-valentine-light-pink: #ffb6c1;
  --color-valentine-rose: #ff007f;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}
